.cart {
    margin-top: 1.5em;
    border-radius: 20px;
    width: 20em;
    height: 25em;
    background: rgba( 255, 255, 255, 0.30);
    backdrop-filter: blur( 12.5px);
    -webkit-backdrop-filter: blur( 12.5px);
    border: 1px solid rgba( 255, 255, 255, 0.42);
}

.cart h2 {
    padding-left: 0.9em;
    margin-bottom: 0.5em;
    color: darkslategrey;
    font-size: 35px;
}